body,html{
  width: 100%;
}

body{
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-attachment: fixed;
}

/* Connexion @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
 */
#mainConnexion .btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

/*
 * Card component
 */
#mainConnexion .card {
  max-width: 350px;
  padding: 40px 40px;
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

#mainConnexion .profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

#mainConnexion .form-signin input{
    margin-bottom: 10px;
}

#mainConnexion .form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

#mainConnexion .btn.btn-signin {
    /*background-color: #4d90fe; */
    background-color: rgb(104, 145, 162);
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}


/*PROJETS PAGE*/
#headerConnect #navheader{
  background-color: rgba(255, 255, 255, 0.9);
  color: white;
}
#headerConnect li{
  cursor: pointer;
}

#mainProjets{
  margin-top: 80px;
}
#mainProjets .status{
  text-shadow: 0 0 50px white;
  color: #0275D8;

}
#mainProjets article .option .btn{
  width: 100%;
  position: relative;
}
#mainProjets article .option .btn:first-child::after{
  content: "Voir les details";
}
#mainProjets article .option .btn:nth-child(2)::after{
  content: "Editer le projet";
}
#mainProjets article .option .btn:last-child::after{
  content: "Supprimer le projet";
  color: red;
}
#mainProjets article .option .btn::after{
  color: #505dd8;
  font-size: 22px;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  left:0;
  top: 0;
  padding-top: 15px;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
#mainProjets article .option .btn:hover::after{
  width: auto;

  left: 100%;
  opacity: 1;

}


/*STEPS*/
#mainSteps{
  margin-top: 60px;
}
#mainSteps .name_proj{
  color: white;
  background-color: rgba(50,50,50,0.5);
  padding:10px 0 10px 30px;
}
#mainSteps section{
  background-color: rgba(250,250,250,0.9);
  margin-bottom: 30px;
  padding: 0;
}
#mainSteps section .toDo{
  background-color: rgba(250,250,250,0.4);
}
#mainSteps section i{
  font-size: 30px;
}
#mainSteps section .steps .step{
  cursor: default;
  background-color: rgba(250,250,250,0.4) ;
  color: black;
  text-decoration: none;
  padding: 5px;
  position: relative;
  /*transition: 1s;*/

}
#mainSteps section .steps .step:hover{
  /*background-color: rgba(85, 173, 211,0.1);*/
  /*min-height: 100px;*/
}
#mainSteps section .steps .step .stepName{
  font-weight: bold;
}
#mainSteps section .steps .step .optionUnderStep{
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 3px;
  right: 0px;
  top: 0px;
  display: none;
  transition: 1s;
}
#mainSteps section .steps .step .formUnderStep{
  width: 60%;
}
#mainSteps section .steps .step .optionUnderStep i{
  cursor: pointer;
  font-size: 30px;
  color: #505dd8;
}
#mainSteps section .steps .step .underStep{
  display: none;
}
